<p>Filter by department!</p>
<form method="GET" action="/">
  <button name="department" value="dining" class="btn btn-primary">Dining Services</button>
  <button name="department" value="housing" class="btn btn-primary">Housing Services</button>
</form>
